@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


:root {
  --main-bg-color: #181820;
  --main-bg-color-tr: #22222D80;
  --main-bg-highlight-tr: #4B4B4B80;
  --secondary-bg-color: #0D0D11;
  --accents-text-color: #4BD765;
  --important-text-color: #FB8368;
  --main-text-color: #FFFFFF;
  --secondary-text-color: #B0B2B8;
  --tertiary-text-color: #84858A;
}

html {
  height: 100%;
  scroll-behavior: smooth;
  width: auto !important;
  overflow-x: hidden;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.code {
  background-color: #d3f5fd;
  color: #2085ed;
  border-radius: 3px;
  font-family: courier, monospace;
  padding: 0 3px;
}

.important {
  color: var(--important-text-color);
}

.underline {
  text-decoration: underline;
  color: var(--secondary-text-color)
}

.link {
  color: var(--accents-text-color)
}

body {
  background-color: var(--main-bg-color);
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
}

.navbar a {
  text-decoration: none;
}

.navbar li {
  list-style: none;
}

/* Skip-to-main-content */
.skip-to-main-content {
  background: var(--main-bg-color);
  color: var(--accents-text-color)  ;
  padding: 0.5rem 1.5rem;
  border-radius: 0 0 0.5rem 0.5rem;
  position: absolute;
  left: 0.5rem;
  transform: translateY(-120%);
  transition: transform 325ms ease-in;
}

.skip-to-main-content:focus {
  transform: translateY(0%);
}

/* ------ NAVBAR ------ */
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  padding: 20px;
  background-color: var(--secondary-bg-color);
  color: var(--accents-text-color);
  z-index: 999;
}
.nav-links a {
  color: var(--accents-text-color);
}
/* LOGO */
.logo img {
  border-radius: 20%;
  margin-top: 5px;
  width: 50px;
  height: auto;
}

.site-name {
  text-transform: lowercase;
  letter-spacing: 3px;
  font-size: 30px;
}

.site-name a {
  text-decoration: none;
  color: var(--accents-text-color);
}

/* NAVBAR MENU */
.menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
}

.menu li:hover {
  background-color: var(--main-bg-highlight-tr);
  border-radius: 5px;
  transition: 0.3s ease;
}

.menu li {
  padding: 5px 14px;
}

/* RESPONSIVE NAVBAR MENU STARTS */
input[type="checkbox"] {
  display: none;
}

/*HAMBURGER MENU*/
.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
  color: var(--accents-text-color);
  cursor: pointer;
  z-index: 999;
}

@media (max-width: 1080px) {
  .menu {
    display: none;
    position: absolute;
    background-color: var(--main-bg-color);
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;    
    z-index: 999;
  }
  .menu li:hover {
    display: inline-block;
    background-color: var(--main-bg-highlight-tr);
    color: var(--main-text-color);
    transition: 0.3s ease;
  }
  .menu li + li {
    margin-top: 12px;
  }
  input[type="checkbox"]:checked ~ .menu {
    display: block;
    
  }
  .hamburger {
    display: block;
  }
}




/* ------- MAIN ------- */
.bg-image {
  display: flex;
	align-self: stretch;
	position: absolute;
	left: 0;
	top: 0;
	height: 100vh;
	width: 100vw;
  background-image: url("/img/DroptopFourLogo.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-size: auto auto;
  opacity: 0.3;
  z-index: -999;
}





/* ------ SLIDESHOW ------ */

.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: 20px;
}

/* Got this from a random codepen. will refactor soon */
.slideshow {
  height: 200px;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

.slideshow > div {
  height: 200px;
  width: 2526px;
  background: url(/img/slide.png);
  background-size: contain;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transform: translate3d(0, 0, 0);
}
.slideshow .slideshow-mover-1 {
  animation: moveSlideshow 17s linear infinite;
}
.slideshow .slideshow-mover-2 {
  opacity: 0;
  transition: opacity 0.5s ease-out;
  background-position: 0 -200px;
  animation: moveSlideshow 20s linear infinite;
}

@keyframes moveSlideshow {
  100% { 
    transform: translateX(-66.6666%);  
  }
}




/* ------ COMMUNITY APPS PAGE ------ */

.community-apps-banner {
  color: var(--accents-text-color);
  font-size: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
}


.app-making {
  margin-bottom: 30px;
  text-align: center;
  color: var(--main-text-color);
}


.app-tutorial-link {
  color: var(--accents-text-color);
  
}


.appsList li {
  padding-bottom: 20px;
}

.app-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 500px;
  margin: auto;
  text-align: center;
  font-family: arial;
  background-color: #0D0D11;
  border-radius: 25px;
  padding-top: 20px;
  padding-bottom: 20px;
  align-items: center;
  align-content: center;
}

.app-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.app-card-title {
  font-size: 30px;
  font-weight: bold;
  color: var(--accents-text-color);
}

.app-card-image {
  width: 80%;
  padding-top: 20px;
}

.app-card-name {
  text-transform: uppercase;
  padding-top: 10px;
  color: var(--main-text-color)
}

.app-card-author {
  color: var(--secondary-text-color);
}

.app-card-author-link {
  color: var(--secondary-text-color);
}

.app-card-desc {
  align-items: center;
  text-align: center;
  max-width: 90%;
  color: var(--main-text-color);
  padding: 10px 10px;
}

.app-card-buttons {
  padding: 0 5px;
}

.app-card-button {
  background-color: var(--main-bg-color);
  color: var(--accents-text-color);
  border: none;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 25px;
  margin: 4px 2px;
  cursor: pointer;
}

.app-card-button:hover {
  background-color: var(--main-bg-highlight-tr);
  color: var(--main-text-color);
  transition: 0.3s ease;
}

.app-card-button:active {
  background-color: var(--main-bg-highlight-tr);
  color: var(--main-text-color);
  transition: 0.3s ease;
}

.app-card-button:focus {
  outline: none;
}




/* ------ COMMUNITY APPS PAGE ------ */

.create-an-app-banner {
  color: var(--accents-text-color);
  font-size: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.create-an-app-tablecontents {
  list-style-position: inside;
  width: 80%;
  min-height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: var(--main-text-color)
}

.create-an-app-tablecontents li a {
  color: var(--accents-text-color);
}

.create-an-app-tablecontents ul li ul li {
  padding-left: 3rem;
}

.create-an-app-contents {
  color: var(--main-text-color);
  width: 80%;
  min-height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.make-an-app {
  margin-bottom: 30px;
  text-align: center;
  color: var(--main-text-color);
}

.make-an-app h3 {
  text-transform: uppercase;
}

.make-an-app-disclaimer {
  text-align: left;
  margin-top: 20px;
  margin-bottom: 20px;
}

.make-an-app-process {
  text-align: left;
  color: var(--secondary-text-color)
}

.make-an-app-process li {
  margin-bottom: 10px;
}

.builtin-variables {
  padding-left: 1rem
}

.builtin-variables h4 {
  padding-top: 20px;
  padding-bottom: 15px;
}

.builtin-variable {
  color: var(--accents-text-color)
}

.share-an-app {
  padding-top: 20px;
  padding-bottom: 30px;
  text-align: center;
  color: var(--main-text-color);
}

.share-an-app h3 {
  text-transform: uppercase;
  padding-bottom: 20px;
}








/* ------ FAQ PAGE ------ */

.faq-page {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.faq-banner {
  color: var(--accents-text-color);
  font-size: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.faq-contents {
  color: var(--main-text-color);
  width: 80%;
  min-height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: var(--main-bg-color-tr);
  border-style: 2px solid;
  border-color: var(--accents-text-color);
  color: var(--main-text-color);
  cursor: pointer;
  padding: 18px;
  width: 100%;
  margin: 15px 0;
  text-align: left;
  transition: 0.4s;
  font-size: 20px;
  border-radius: 8px;
}

.accordion:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 15px;
  color: var(--main-bg-highlight-tr);
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: var(--main-bg-highlight-tr);
}

.active {
  margin: 0;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  margin: 0 0 15px;
  padding: 0 18px;
  background-color: var(--secondary-bg-color);
  color: var(--main-text-color);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.faq-problem {
  color: var(--important-text-color);
  padding-top: 1rem;
}

.faq-solution {
  color: var(--main-text-color);
  padding-top: 1rem;
  padding-bottom:1rem;
}

.faq-ullist {
  color: var(--accents-text-color);
  list-style-position: inside;
  padding-bottom: 1rem;
}

.faq-ullist li {
  padding-top: 1rem;
}

.faq-ollist {
  color: var(--secondary-text-color);
  list-style-position: inside;
  padding-left: 3rem;
}

.faq-ollist2 {
  color: var(--tertiary-text-color);
  list-style-position: inside;
  list-style-type: square;
  padding-left: 3rem;
}

.faq-notes {
  color: var(--tertiary-text-color);
  padding-top: 0.5rem;
}



.faq-disclaimer {
  display: flex;
  flex-direction: column;
  color: var(--main-text-color);
  align-items: center;
  padding-top: 10px;
  padding-bottom: 30px;
}





/* ------ FOOTER ------ */

.footer {
  width: 100%;
  padding: 10px 0;
  background-color: var(--secondary-bg-color);
  margin-top: auto;
  min-height:100%;
  z-index: 999;
}

.footer .social {
  text-align: center;
  padding-bottom: 5px;
  color: var(--secondary-text-color);
}

.footer .social a {
  font-size: 16px;
  color: var(--secondary-text-color);
  border: 1px solid var(--secondary-text-color);
  width: 28px;
  height: 28px;
  line-height: 28px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin: 0 8px;
  opacity: 0.75;
}

.footer .social a:hover {
  opacity: 0.9;
}

.footer .list {
  margin-top: 0;
  padding: 0;
  list-style: none;
  font-size: 12px;
  line-height: 1.6;
  margin-bottom: 0;
  text-align: center;
  color: var(--secondary-text-color);
}

.footer ul li a {
  color: var(--secondary-text-color);
  text-decoration: none;
  opacity: 0.8;
}

.footer ul li {
  display: inline-block;
  padding: 0 5px;
}

.footer ul li a:hover {
  opacity: 1;
}

.footer .copyright {
  margin-top: 5px;
  text-align: center;
  font-size: 10px;
  color: var(--secondary-text-color);
}

