/* ----- NAVBAR ----- */
@import url("https://fonts.googleapis.com/css2?family=Urbanist&display=swap");
.navbar {
  display: flex;
  align-items: center;
  min-height: 8vh;
  padding: 20px;
  color: #43ff64;
  position: fixed;
  top: 0;
  width: 98%;
  margin-top: 1%;
  margin-left: 1%;
  z-index: 999;
  background-color: rgba(13, 13, 17, 0.9);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  border-radius: 8px;
  background-clip: padding-box;
}

.navbar a {
  text-decoration: none;
}

.navbar li {
  list-style: none;
}

.nav-links {
  position: fixed;
  right: 40px;
}

.nav-links a {
  color: #43ff64;
}

.logo img {
  margin-top: 5px;
  width: 50px;
  height: auto;
  border-radius: 20px;
  background-clip: padding-box;
}

.site-name {
  text-transform: lowercase;
  letter-spacing: 3px;
  font-size: 30px;
  margin-left: 20px;
}

.site-name a {
  text-decoration: none;
  color: #43ff64;
}

.menu {
  display: flex;
  font-size: 18px;
  border-radius: 8px;
  background-clip: padding-box;
}

.menu li a:hover {
  background-color: rgba(57, 57, 57, 0.7137254902);
  transition: 0.3s ease;
  border-radius: 8px;
  background-clip: padding-box;
}

.menu li a {
  padding: 5px 14px;
}

.nav-download {
  background-color: rgba(75, 215, 101, 0.3019607843);
  font-weight: bold;
  border-radius: 8px;
  background-clip: padding-box;
}

input[type=checkbox] {
  display: none;
}

.hamburger {
  display: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  color: #43ff64;
  cursor: pointer;
  z-index: 999;
}

@media screen and (max-width: 1160px) {
  .navbar {
    justify-content: space-around;
  }
  .nav-links {
    position: static;
    right: 0px;
  }
  .site-name {
    margin-left: 0px;
  }
  .menu {
    display: none;
    position: absolute;
    right: 0;
    left: 0;
    text-align: center;
    padding: 20px 0;
    margin-top: 36px;
    z-index: 999;
    background-color: rgba(13, 13, 17, 0.9);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
  }
  .menu li a:hover {
    background-color: rgba(57, 57, 57, 0.7137254902);
    color: #ffffff;
    transition: 0.3s ease;
  }
  .menu li {
    margin-top: 20px;
  }
  input[type=checkbox]:checked ~ .menu {
    display: block;
  }
  .hamburger {
    display: block;
  }
}
@media screen and (max-width: 720px) {
  .navbar {
    padding: 10px;
  }
  .menu {
    margin-top: 26px;
  }
}
/* ----- COOKIE CONSENT ----- */
.termsfeed-com---reset button:focus {
  border-radius: 0px;
  background-clip: padding-box;
}

.termsfeed-com---palette-dark .cc-cp-body-tabs-item-link:focus {
  box-shadow: none;
}

.termsfeed-com---nb {
  border: 2px solid #181820;
  outline: none;
  background-color: #0d0d11;
  color: #43ff64;
  border-color: #43ff64;
  border-radius: 8px;
  background-clip: padding-box;
}

.termsfeed-com---nb .cc-nb-title {
  color: #43ff64;
}

.termsfeed-com---nb .cc-nb-okagree {
  background-color: #43ff64;
}

.termsfeed-com---nb .cc-nb-reject {
  background-color: red;
}

.termsfeed-com---nb .cc-nb-changep {
  background-color: #ffffff;
}

.cc-nb-buttons-container button {
  border-radius: 8px;
  background-clip: padding-box;
}

.termsfeed-com---pc-dialog {
  border-radius: 8px;
  background-clip: padding-box;
}

.termsfeed-com---palette-dark .cc-pc-head-title-text {
  color: #43ff64;
}

.termsfeed-com---palette-dark .cc-pc-head-close {
  color: #43ff64;
}

.termsfeed-com---pc-overlay .cc-cp-foot-save {
  background-color: #43ff64;
  border-radius: 8px;
  background-clip: padding-box;
}

.termsfeed-com---palette-dark .cc-pc-head-lang select {
  border-radius: 4px;
  background-clip: padding-box;
}

.termsfeed-com---palette-dark .cc-pc-head-lang select:focus {
  box-shadow: none;
  border-radius: 4px;
  background-clip: padding-box;
}

.termsfeed-com---palette-dark .cc-cp-body-content-entry-title {
  color: #43ff64;
}

/* ----- FOOTER ----- */
.footer {
  width: 100%;
  padding: 10px 0;
  margin-top: auto;
  min-height: 100%;
  z-index: 999;
  width: 98%;
  margin-bottom: 1%;
  margin-left: 1%;
  background-color: rgba(13, 13, 17, 0.8);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  border-radius: 8px;
  background-clip: padding-box;
}

.footer .social {
  text-align: center;
  padding-bottom: 5px;
  color: #b0b2b8;
}

.footer .social a {
  font-size: 16px;
  color: #b0b2b8;
  border: 1px solid #b0b2b8;
  width: 28px;
  height: 28px;
  line-height: 28px;
  display: inline-block;
  text-align: center;
  margin: 0 8px;
  opacity: 0.5;
  border-radius: 50%;
  background-clip: padding-box;
}

.footer .social a:hover {
  opacity: 0.9;
}

.footer .list {
  margin-top: 0;
  padding: 0;
  list-style: none;
  font-size: 12px;
  line-height: 1.6;
  margin-bottom: 0;
  text-align: center;
  color: #b0b2b8;
}

.footer ul li a {
  color: #b0b2b8;
  text-decoration: none;
  opacity: 0.8;
}

.footer ul li {
  display: inline-block;
  padding: 0 5px;
}

.footer ul li a:hover {
  opacity: 1;
}

.footer .copyright {
  margin-top: 5px;
  text-align: center;
  font-size: 10px;
  color: #b0b2b8;
}

/* ----- COMPONENTS ----- */
.code {
  background-color: #181820;
  color: #43ff64;
  border: 1px solid #43ff64;
  font-family: courier, monospace;
  padding: 0 3px;
  overflow-wrap: break-word;
  border-radius: 3px;
  background-clip: padding-box;
}

.important {
  color: #fb8368;
  overflow-wrap: break-word;
}

.droptop {
  color: #43ff64;
}

.bold {
  font-weight: bold;
}

.underline {
  text-decoration: underline;
  color: #b0b2b8;
  overflow-wrap: break-word;
}

.link {
  color: #43ff64;
  overflow-wrap: break-word;
}

.hidden {
  display: none;
}

/* Skip-to-main-content */
.skip-to-main-content {
  background: #181820;
  color: #43ff64;
  padding: 0.5rem 0.5rem;
  border-radius: 0 0 0.5rem 0.5rem;
  position: absolute;
  left: 0.5rem;
  transform: translateY(-120%);
  transition: transform 325ms ease-in;
  z-index: 1000;
}

.skip-to-main-content:focus {
  transform: translateY(0%);
}

/* scroll-to-top */
.scroll-to-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 999;
  border: 2px solid #181820;
  outline: none;
  background-color: #43ff64;
  color: #181820;
  opacity: 0.7;
  cursor: pointer;
  padding: 15px;
  font-size: 18px;
  background-color: rgba(67, 255, 100, 0.9);
  border-radius: 10px;
  background-clip: padding-box;
}

.scroll-to-top a {
  color: #43ff64;
}

@media (hover: hover) {
  .scroll-to-top:hover,
  .scroll-to-top:active {
    background-color: #0d0d11;
    color: #43ff64;
    border-color: #43ff64;
  }
}
@media screen and (max-width: 480px) {
  .scroll-to-top {
    bottom: 10px;
    right: 10px;
  }
}
/* ----- 404 PAGE ----- */
.p404-banner {
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: calc(20px + 10vh);
  padding: 30px 65px;
  color: #43ff64;
  font-size: 40px;
  flex-direction: column;
  overflow: hidden;
}

.p404-container img {
  opacity: 0.3;
  width: 100%;
}

.p404-banner-text {
  position: absolute;
  top: 50%;
  right: -50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  width: 80%;
}

.p404-banner-title {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.p404-banner-title h1 {
  justify-content: center;
  text-align: center;
  margin-bottom: 20px;
  font-size: 75px;
  text-shadow: 0px 0px 6px rgba(17, 13, 13, 0.5450980392);
}

.p404-banner-title h2 {
  justify-content: center;
  text-align: center;
  width: 80%;
  padding-left: 20%;
  color: #b0b2b8;
  font-size: 30px;
}

@media screen and (max-width: 1160px) {
  .p404-banner {
    padding-top: 80px;
  }
  .p404-banner-text {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    padding: 12px 24px;
    width: 80%;
  }
  .p404-banner-title {
    width: 100%;
    margin-bottom: 20px;
  }
  .p404-banner-title h1 {
    text-align: center;
    width: 100%;
    position: relative;
    top: -25px;
  }
}
@media screen and (max-width: 720px) {
  .p404-banner {
    padding: 0px 10px;
    margin-top: 120px;
  }
  .p404-banner-title h1 {
    font-size: 50px;
  }
  .p404-banner-title h2 {
    font-size: 25px;
  }
}
@media screen and (max-width: 480px) {
  .p404-banner {
    margin-top: 120px;
  }
  .p404-banner-text {
    width: 100%;
  }
  .p404-banner-text h1 {
    font-size: 45px;
  }
  .p404-banner {
    margin-top: 120px;
  }
}
/* ----- HOME PAGE ----- */
.home-banner {
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: calc(20px + 10vh);
  padding: 30px 65px;
  color: #43ff64;
  font-size: 40px;
  flex-direction: column;
  overflow: hidden;
}

.showcase-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
}

.showcase-container img {
  height: 600px;
  width: 100%;
  filter: brightness(70%);
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: right top;
  object-position: right top;
  border-radius: 8px;
  background-clip: padding-box;
}

.home-banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  padding: 12px 24px;
  border: none;
  display: flex;
  flex-direction: row;
  width: 100%;
  border-radius: 5px;
  background-clip: padding-box;
}

.home-banner-title {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.home-banner-title h1 {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
  font-size: 75px;
  text-shadow: 2px 2px 6px rgba(17, 13, 13, 0.8);
}

.home-banner-title h2 {
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 80%;
  padding-left: 20%;
  color: #b0b2b8;
  font-size: 30px;
  text-shadow: 2px 2px 6px rgba(17, 13, 13, 0.8);
}

.home-button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  float: right;
  border: none;
  text-align: center;
  width: 45%;
  display: flex;
}

.home-download-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #181820;
  color: #43ff64;
  border: none;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 8px;
  background-clip: padding-box;
  padding: 21px 30px;
  font-size: 30px;
  transition: all 200ms linear;
}

.home-download-button:hover {
  background-color: rgba(57, 57, 57, 0.7137254902);
  color: #ffffff;
  transition: 0.3s ease;
}

.home-download-button:active {
  background-color: rgba(57, 57, 57, 0.7137254902);
  color: #ffffff;
  transition: 0.3s ease;
}

.release-info {
  color: #b0b2b8;
  font-size: 15px;
  opacity: 0.5;
}

.home-contents {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.body-divider {
  width: 100%;
  height: 65px;
  padding: 30px;
}

.body-divider hr {
  border-color: rgba(0, 0, 0, 0);
}

.home-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  font-size: 25px;
  justify-content: center;
  text-align: center;
  padding: 0px 65px;
  height: -moz-max-content;
  height: max-content;
}

.droptop-info-1 {
  width: 100%;
  position: relative;
}

.image-block-1 {
  height: 600px;
  width: 100%;
  max-width: 90%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: left top;
  object-position: left top;
  opacity: 0.6;
  border-radius: 8px;
  background-clip: padding-box;
}

.text-block-c {
  width: 75%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  border-style: solid;
  border-color: #43ff64;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 8px;
  background-clip: padding-box;
}

.text-block-c h1 {
  font-size: 40px;
  color: #43ff64;
  padding-bottom: 10px;
}

.text-block-c p {
  color: #ffffff;
  padding-bottom: 10px;
  line-height: 1.4;
}

.droptop-info-2 {
  width: 100%;
  position: relative;
}

.image-block-2 {
  height: 600px;
  width: 100%;
  max-width: 90%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: left top;
  object-position: left top;
  opacity: 0.6;
  border-radius: 8px;
  background-clip: padding-box;
}

.text-block-r {
  width: 50%;
  position: absolute;
  top: 50%;
  left: 69%;
  transform: translate(-50%, -50%);
  padding: 10px;
  border-style: solid;
  border-color: #43ff64;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  background-clip: padding-box;
}

.text-block-r h1 {
  font-size: 40px;
  color: #43ff64;
  padding-bottom: 10px;
}

.text-block-r p {
  color: #ffffff;
  padding-bottom: 10px;
  line-height: 1.4;
}

.droptop-info-3 {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slideshow-container-1 {
  width: 90%;
  border-radius: 8px;
  background-clip: padding-box;
}

.slideshow-container-2 {
  position: relative;
  padding: 10px;
  border-style: solid;
  border-color: #43ff64;
  border-radius: 8px;
  background-clip: padding-box;
}

.Slide {
  display: none;
}

.Slide img {
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: left top;
  object-position: left top;
  border-radius: 8px;
  background-clip: padding-box;
}

.fade {
  animation: fadein 0.75s 0s, fadeout 0.5s 3s;
  -webkit-animation: fadein 0.75s 0s, fadeout 0.75s 3s;
  -moz-animation: fadein 0.75s 0, fadeout 0.75s 3s;
  -o-animation: fadein 0.75s 0, fadeout 0.75s 3s;
  -ms-animation: fadein 0.75s 0, fadeout 0.75s 3s;
}

.fade2 {
  animation: fadein 0.2s 0s, fadeout 0.25s 3.3s;
  -webkit-animation: fadein 0.2s 0s, fadeout 0.25s 3.3s;
  -moz-animation: fadein 0.2s 0, fadeout 0.25s 3.3s;
  -o-animation: fadein 0.2s 0, fadeout 0.25s 3.3s;
  -ms-animation: fadein 0.2s 0, fadeout 0.25s 3.3s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.theme-number {
  color: #b0b2b8;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 2px;
  z-index: 500;
}

.prev,
.next {
  position: relative;
  display: inline;
  width: auto;
  padding: 12px;
  color: #ffffff;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border-radius: 8px;
  background-clip: padding-box;
}

@media (hover: hover) {
  .prev:hover,
  .prev:active,
  .next:hover,
  .next:active {
    background-color: rgba(0, 0, 0, 0.8);
  }
}
.theme-name {
  color: #b0b2b8;
  font-size: 15px;
  padding: 8px 12px;
  position: relative;
  width: 100%;
  text-align: center;
  display: inline;
}

.text-block-s {
  width: 75%;
  position: inherit;
  margin-top: 10px;
}

.text-block-s h1 {
  font-size: 40px;
  color: #43ff64;
  padding-bottom: 10px;
}

.text-block-s p {
  color: #ffffff;
  padding-bottom: 10px;
  line-height: 1.4;
}

.droptop-info-4 {
  width: 100%;
  position: relative;
}

.image-block-4 {
  height: 600px;
  width: 100%;
  max-width: 90%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: right top;
  object-position: right top;
  opacity: 0.6;
  border-radius: 8px;
  background-clip: padding-box;
}

.droptop-info-5 {
  width: 100%;
  position: relative;
}

.image-block-5 {
  height: 600px;
  width: 100%;
  max-width: 90%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: left top;
  object-position: left top;
  opacity: 0.6;
  border-radius: 8px;
  background-clip: padding-box;
}

.droptop-info-6 {
  width: 100%;
  position: relative;
}

.image-block-6 {
  height: auto;
  width: auto;
  max-width: 90%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center center;
  object-position: center center;
  opacity: 0.6;
  border-radius: 8px;
  background-clip: padding-box;
}

.discord-invite {
  text-align: center;
}

.discord-invite img {
  border-radius: 8px;
  background-clip: padding-box;
}

@media screen and (max-width: 1160px) {
  .home-banner-title h2 {
    width: 100%;
    padding-left: 0%;
    margin-bottom: 15px;
  }
  .home-banner {
    padding-top: 80px;
  }
  .home-banner-text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .home-banner-title {
    width: 100%;
    margin-bottom: 20px;
  }
  .home-banner-title h1 {
    text-align: center;
    width: 100%;
    position: relative;
    top: -25px;
    margin-bottom: 0px;
  }
  .home-banner-title h2 {
    width: 100%;
    padding-left: 0%;
    margin-bottom: 15px;
  }
  .home-button-container {
    margin-top: 20px;
  }
  .home-download-button {
    position: inherit;
    top: 10px;
    transform: translateY(0);
    margin-top: 10px;
    padding: 40px 30px;
  }
  .home-container {
    min-height: auto;
  }
  .droptop-info-1 {
    padding-top: 35px;
    border-style: solid;
    border-color: #43ff64;
    border-radius: 8px;
    background-clip: padding-box;
  }
  .image-block-1 {
    height: 200px;
    opacity: 1;
  }
  .text-block-c {
    border: none;
    position: inherit;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0);
  }
  .droptop-info-2 {
    padding-top: 35px;
    border-style: solid;
    border-color: #43ff64;
    border-radius: 8px;
    background-clip: padding-box;
  }
  .image-block-2 {
    height: 200px;
    opacity: 1;
  }
  .text-block-r {
    width: 75%;
    border: none;
    position: inherit;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0);
  }
  .droptop-info-3 {
    padding: 0 10px;
    border-style: solid;
    border-color: #43ff64;
    border-radius: 8px;
    background-clip: padding-box;
  }
  .slideshow-container-2 {
    border: none;
  }
  .Slide img {
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: left top;
    object-position: left top;
    width: auto;
    height: 100px;
  }
  .droptop-info-4 {
    padding-top: 35px;
    border-style: solid;
    border-color: #43ff64;
    border-radius: 8px;
    background-clip: padding-box;
  }
  .image-block-4 {
    height: 200px;
    opacity: 1;
  }
  .droptop-info-5 {
    padding-top: 35px;
    border-style: solid;
    border-color: #43ff64;
    border-radius: 8px;
    background-clip: padding-box;
  }
  .image-block-5 {
    height: 200px;
    opacity: 1;
  }
  .droptop-info-6 {
    padding-top: 35px;
    border-style: solid;
    border-color: #43ff64;
    border-radius: 8px;
    background-clip: padding-box;
  }
  .image-block-6 {
    height: 200px;
    opacity: 1;
  }
}
@media screen and (max-width: 720px) {
  .home-banner {
    padding: 0px 10px;
    margin-top: 120px;
  }
  .home-banner-title h1 {
    font-size: 50px;
  }
  .home-banner-title h2 {
    font-size: 25px;
  }
  .home-container {
    padding: 0px 30px;
  }
  .home-download-button {
    padding: 30px 20px;
    font-size: 30px;
  }
  .Slide img {
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: left top;
    object-position: left top;
    width: auto;
    height: 100px;
  }
}
@media screen and (max-width: 480px) {
  .showcase-container img {
    max-width: 100%;
  }
  .home-banner-text {
    width: 100%;
  }
  .home-banner-text h1 {
    font-size: 45px;
  }
  .home-container {
    padding: 0px 15px;
  }
  .text-block-c {
    width: 100%;
  }
  .text-block-c p {
    line-height: 1.2;
  }
  .text-block-r {
    width: 100%;
  }
  .text-block-r p {
    line-height: 1.2;
  }
  .Slide img {
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: left top;
    object-position: left top;
    width: auto;
    height: 100px;
  }
  .text-block-s {
    width: 100%;
  }
  .text-block-s p {
    line-height: 1.2;
  }
}
/* ----- DOWNLOAD PAGE ----- */
.download-contents {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.download-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  font-size: 30px;
  justify-content: center;
  height: -moz-max-content;
  height: max-content;
  color: #ffffff;
  max-width: 90%;
}

.download-card {
  box-shadow: 0 0 10px rgba(67, 255, 102, 0.3);
  -webkit-box-shadow: 0 0 10px rgba(67, 255, 102, 0.3);
  width: 40%;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 30px;
  margin: 30px;
  border-radius: 20px;
  background-clip: padding-box;
  border-style: solid;
  border-color: #155b22;
  background-color: rgba(67, 255, 100, 0.15);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.download-card:hover {
  border-color: #43ff64;
  box-shadow: 0 0 10px rgb(67, 255, 102);
  -webkit-box-shadow: 0 0 10px rgb(67, 255, 102);
}

.download-card-image img {
  width: 60px;
}

.download-card-title {
  align-self: left;
  text-align: left;
  margin-left: 10%;
  margin-bottom: 10px;
  margin-top: 30px;
  font-weight: bold;
}

.download-card-price {
  font-size: 60px;
  color: #b0b2b8;
  align-self: left;
  text-align: left;
  margin-left: 10%;
}

.download-card-price-supporter {
  font-size: 60px;
  color: #43ff64;
  align-self: left;
  text-align: left;
  margin-left: 10%;
}

.download-button {
  width: 80%;
  align-self: center;
  background-color: #27af40;
  color: #181820;
  padding: 15px 40px;
  text-decoration: none;
  font-size: 25px;
  font-weight: 600;
  cursor: pointer;
  margin: 40px 0;
  line-height: 1.8;
  border-radius: 8px;
  background-clip: padding-box;
  border: none;
}

.download-button:hover {
  background-color: #43ff64;
  box-shadow: 0 0 10px rgb(67, 255, 102);
  -webkit-box-shadow: 0 0 10px rgb(67, 255, 102);
  transition: 0.3s ease;
}

.download-button:active {
  background-color: #43ff64;
  box-shadow: 0 0 10px rgb(67, 255, 102);
  -webkit-box-shadow: 0 0 10px rgb(67, 255, 102);
  transition: 0.3s ease;
}

.download-card-infos {
  text-align: left;
  margin-left: 10%;
  margin-bottom: 30px;
  font-size: 20px;
  height: 30px;
}

.download-update-container {
  font-size: 30px;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
  padding: 0px 65px;
  color: #ffffff;
}

.download-alert-title {
  color: #43ff64;
}

.download-alert-text {
  color: #b0b2b8;
}

.agent-alert-title {
  color: #d5273e;
}

.agent-alert-text {
  color: #b0b2b8;
}

.droptop-version-text {
  color: #b0b2b8;
  font-size: 15px;
  justify-content: center;
  text-align: center;
  padding: 0px 65px;
  opacity: 0.5;
}

.versions-table {
  width: 100%;
  border-spacing: 100px 0;
}

.versions-table th {
  padding-bottom: 20px;
  font-weight: bold;
}

.versions-table td {
  padding: 10px;
}

.table-header {
  font-weight: bold;
  font-size: 25px;
}

.table-text {
  font-size: 20px;
}

.center-table {
  text-align: center;
}

.header-2 {
  color: #6d6d6d;
}

.column-2 {
  background-color: rgba(109, 109, 109, 0.3019607843);
  color: #6d6d6d;
}

.header-3 {
  color: #43ff64;
}

.column-3 {
  background-color: rgba(75, 215, 101, 0.3019607843);
  color: #43ff64;
}

@media screen and (max-width: 1160px) {
  .download-container {
    min-height: auto;
    max-width: 100%;
  }
  .download-card {
    width: 40%;
  }
  .download-button {
    font-size: 20px;
  }
}
@media screen and (max-width: 720px) {
  .download-container {
    flex-direction: column;
  }
  .download-card {
    align-self: center;
    width: 60%;
  }
  .download-button {
    margin: 20px 0;
  }
  .download-cost {
    font-size: 15px;
  }
}
@media screen and (max-width: 480px) {
  .download-card {
    width: 90%;
  }
}
@media screen and (max-width: 360px) {
  .download-card {
    width: 90%;
  }
  .download-cost {
    font-size: 10px;
  }
}
/* ----- UPDATE PAGE ----- */
.update-contents {
  margin-top: 10vh;
}

.update-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  font-size: 30px;
  justify-content: center;
  height: -moz-max-content;
  height: max-content;
  color: #ffffff;
}

.update-button-container {
  width: 30%;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 30px;
  margin: 30px;
  background-color: rgba(13, 13, 17, 0.3);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  border-radius: 20px;
  background-clip: padding-box;
}

.update-card {
  box-shadow: 0 0 10px rgba(67, 255, 102, 0.3);
  -webkit-box-shadow: 0 0 10px rgba(67, 255, 102, 0.3);
  width: 30%;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 30px;
  margin: 30px;
  border-radius: 20px;
  background-clip: padding-box;
  border-style: solid;
  border-color: #155b22;
  background-color: rgba(67, 255, 100, 0.15);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.update-card:hover {
  border-color: #43ff64;
  box-shadow: 0 0 10px rgb(67, 255, 102);
  -webkit-box-shadow: 0 0 10px rgb(67, 255, 102);
}

.update-card-title {
  align-self: left;
  text-align: left;
  margin-left: 10%;
  margin-bottom: 10px;
  margin-top: 30px;
  font-weight: bold;
}

.update-card-image img {
  width: 60px;
  margin-bottom: auto;
}

.update-card-infos {
  align-self: left;
  text-align: left;
  margin-left: 10%;
  margin-bottom: 20px;
  font-size: 20px;
  color: #b0b2b8;
}

.update-button {
  width: 80%;
  align-self: center;
  background-color: #27af40;
  color: #181820;
  padding: 15px 40px;
  text-decoration: none;
  font-size: 25px;
  font-weight: 600;
  cursor: pointer;
  margin: 40px 0;
  line-height: 1.8;
  border-radius: 8px;
  background-clip: padding-box;
  border: none;
}

.update-button:hover {
  background-color: #43ff64;
  box-shadow: 0 0 10px rgb(67, 255, 102);
  -webkit-box-shadow: 0 0 10px rgb(67, 255, 102);
  transition: 0.3s ease;
}

.update-button:active {
  background-color: #43ff64;
  box-shadow: 0 0 10px rgb(67, 255, 102);
  -webkit-box-shadow: 0 0 10px rgb(67, 255, 102);
  transition: 0.3s ease;
}

@media screen and (max-width: 1160px) {
  .update-container {
    min-height: auto;
  }
  .update-card {
    width: 40%;
  }
  .update-button {
    font-size: 20px;
  }
}
@media screen and (max-width: 720px) {
  .update-container {
    flex-direction: column;
  }
  .update-card {
    align-self: center;
    width: 60%;
  }
  .update-button {
    margin: 20px 0;
  }
  .update-cost {
    font-size: 15px;
  }
}
@media screen and (max-width: 480px) {
  .update-card {
    width: 90%;
  }
}
@media screen and (max-width: 360px) {
  .update-card {
    width: 90%;
  }
  .update-cost {
    font-size: 10px;
  }
}
/* ----- DIRECT DOWNLOAD PAGE ----- */
.direct-download-title {
  color: #43ff64;
}

.direct-download-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 30px;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  height: -moz-max-content;
  height: max-content;
  color: #ffffff;
  line-height: 1.4;
}

.direct-download-suppport {
  margin-top: 10px;
  color: #43ff64;
  line-height: 2;
}

/* ----- COMMUNITY APPS PAGE ----- */
.community-apps-banner {
  color: #43ff64;
  font-size: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: calc(20px + 10vh);
  padding-top: 50px;
}

.community-apps-banner h1 {
  text-align: center;
}

.app-making {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  text-align: center;
  color: #ffffff;
  font-size: 20px;
}

.appsList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.appsList div {
  margin-bottom: 20px;
}

.app-card {
  box-shadow: 0 0 10px rgba(67, 255, 102, 0.3);
  -webkit-box-shadow: 0 0 10px rgba(67, 255, 102, 0.3);
  max-width: 500px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  padding-top: 20px;
  padding-bottom: 5px;
  border-radius: 25px;
  background-clip: padding-box;
  border-style: solid;
  border-color: #155b22;
  background-color: rgba(67, 255, 100, 0.15);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.app-card:hover {
  border-color: #43ff64;
  box-shadow: 0 0 10px rgb(67, 255, 102);
  -webkit-box-shadow: 0 0 10px rgb(67, 255, 102);
  background-color: rgba(67, 255, 100, 0.3);
}

.app-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.app-card-name {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: bold;
  margin: 10px;
  color: #43ff64;
  text-shadow: 2px 2px 6px rgb(17, 13, 13);
}

.app-card-version {
  color: #b0b2b8;
  opacity: 0.5;
  margin-bottom: 10px;
  text-shadow: 2px 2px 6px rgb(17, 13, 13);
}

.app-card-image {
  height: auto;
  width: 80%;
  margin-top: 20px;
  opacity: 0.8;
  border-radius: 8px;
  background-clip: padding-box;
}

.app-card-author {
  color: #b0b2b8;
  text-shadow: 2px 2px 6px rgb(17, 13, 13);
}

.app-card-author-link {
  color: #b0b2b8;
}

.app-card-desc {
  align-items: center;
  text-align: center;
  max-width: 90%;
  color: #ffffff;
  padding: 10px 10px;
  line-height: 1.4;
  text-shadow: 2px 2px 6px rgb(17, 13, 13);
}

.app-card-buttons {
  padding: 0 5px;
}

.app-card-button {
  background-color: rgba(24, 24, 32, 0.6);
  color: #43ff64;
  border: none;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 20px 2px 0 2px;
  cursor: pointer;
  border-radius: 10px;
  background-clip: padding-box;
}

.app-card-button:hover {
  background-color: rgba(57, 57, 57, 0.7137254902);
  color: #ffffff;
  transition: 0.3s ease;
}

.app-card-button:active {
  background-color: rgba(57, 57, 57, 0.7137254902);
  color: #ffffff;
  transition: 0.3s ease;
}

.app-card-button:focus {
  outline: none;
}

@media screen and (max-width: 1580px) {
  .appsList {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 1160px) {
  .community-apps-banner {
    padding-top: 80px;
  }
  .appsList {
    grid-template-columns: repeat(1, 1fr);
  }
  .create-an-app-banner {
    padding-top: 80px;
  }
}
@media screen and (max-width: 480px) {
  .app-making p {
    width: 90%;
  }
  .app-card {
    max-width: 90%;
  }
  .community-apps-banner-text {
    font-size: 38px;
  }
  .create-an-app-banner-text {
    font-size: 38px;
  }
}
/* ----- COMMUNITY THEMES PAGE ----- */
.community-themes-banner {
  color: #43ff64;
  font-size: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: calc(20px + 10vh);
  padding-top: 50px;
}

.community-themes-banner h1 {
  text-align: center;
}

.theme-making {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  text-align: center;
  color: #84858a;
  font-size: 18px;
}

.theme-making p {
  width: 90%;
}

.themesList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.themesList div {
  margin-bottom: 20px;
}

.theme-card {
  box-shadow: 0 0 10px rgba(67, 255, 102, 0.3);
  -webkit-box-shadow: 0 0 10px rgba(67, 255, 102, 0.3);
  max-width: 500px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-family: arial;
  padding-top: 20px;
  padding-bottom: 5px;
  border-radius: 25px;
  background-clip: padding-box;
  border-style: solid;
  border-color: #155b22;
  background-color: rgba(67, 255, 100, 0.15);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.theme-card:hover {
  border-color: #43ff64;
  box-shadow: 0 0 10px rgb(67, 255, 102);
  -webkit-box-shadow: 0 0 10px rgb(67, 255, 102);
  background-color: rgba(67, 255, 100, 0.3);
}

.theme-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.theme-card-name {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: bold;
  margin: 10px;
  color: #43ff64;
  text-shadow: 2px 2px 6px rgb(17, 13, 13);
}

.theme-card-image {
  height: auto;
  width: 80%;
  margin-top: 20px;
  border-radius: 8px;
  background-clip: padding-box;
}

.theme-card-author {
  color: #b0b2b8;
  text-shadow: 2px 2px 6px rgb(17, 13, 13);
}

.theme-card-author-link {
  color: #b0b2b8;
  text-shadow: 2px 2px 6px rgb(17, 13, 13);
}

.theme-card-desc {
  align-items: center;
  text-align: center;
  max-width: 90%;
  color: #ffffff;
  padding: 10px 10px;
  line-height: 1.4;
  text-shadow: 2px 2px 6px rgb(17, 13, 13);
}

.theme-card-buttons {
  padding: 0 5px;
}

.theme-card-button {
  background-color: rgba(24, 24, 32, 0.6);
  color: #43ff64;
  border: none;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 20px 2px 0 2px;
  cursor: pointer;
  border-radius: 10px;
  background-clip: padding-box;
}

.theme-card-button:hover {
  background-color: rgba(57, 57, 57, 0.7137254902);
  color: #ffffff;
  transition: 0.3s ease;
}

.theme-card-button:active {
  background-color: rgba(57, 57, 57, 0.7137254902);
  color: #ffffff;
  transition: 0.3s ease;
}

.theme-card-button:focus {
  outline: none;
}

@media screen and (max-width: 1580px) {
  .themesList {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 1160px) {
  .community-themes-banner {
    padding-top: 80px;
  }
  .themesList {
    grid-template-columns: repeat(1, 1fr);
  }
  .create-a-theme-banner {
    padding-top: 80px;
  }
}
@media screen and (max-width: 480px) {
  .theme-card {
    max-width: 90%;
  }
  .community-themes-banner-text {
    font-size: 38px;
  }
  .create-a-theme-banner-text {
    font-size: 38px;
  }
}
/* ----- SEARCH PAGE ----- */
.search-banner {
  color: #43ff64;
  font-size: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: calc(20px + 10vh);
  padding-top: 50px;
}

.search-banner h1 {
  text-align: center;
}

.search-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.search-bar input[type=search] {
  padding: 6px;
  font-size: 20px;
  border: solid 2px;
  border-radius: 8px 0 0 8px;
  border-color: #43ff64;
}

.search-bar button {
  float: right;
  padding: 6px 10px;
  background: #0d0d11;
  color: #43ff64;
  font-size: 20px;
  border: solid 2px;
  cursor: pointer;
  border-radius: 0 8px 8px 0;
  border-color: #43ff64;
}

.searchList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.searchList div {
  margin-bottom: 20px;
}

@media screen and (max-width: 1580px) {
  .searchList {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 1160px) {
  .search-banner {
    padding-top: 80px;
  }
  .searchList {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (max-width: 480px) {
  .search-banner-text {
    font-size: 38px;
  }
}
/* ----- PRIVACY POLICY PAGE ----- */
.privacy-policy-banner {
  color: #43ff64;
  font-size: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: calc(20px + 10vh);
  padding-top: 50px;
}

.privacy-policy-banner h1 {
  text-align: center;
}

.privacy-policy-contents {
  color: #ffffff;
  width: 80%;
  min-height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

.privacy-policy-section {
  padding: 20px;
  margin-bottom: 10px;
  background-color: rgba(13, 13, 17, 0.15);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 25px;
  background-clip: padding-box;
}

.last-updated {
  color: #84858a;
  font-size: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.privacy-policy-contents h2 {
  color: #43ff64;
  font-size: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.privacy-policy-contents h3 {
  color: #43ff64;
  font-size: 25px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.privacy-policy-contents h4 {
  color: #43ff64;
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.privacy-policy-contents p {
  padding-top: 10px;
  padding-bottom: 10px;
}

.privacy-policy-contents ul {
  padding-left: 25px;
}

@media screen and (max-width: 1160px) {
  .privacy-policy-banner {
    padding-top: 80px;
  }
}
@media screen and (max-width: 480px) {
  .privacy-policy-banner-text {
    font-size: 38px;
  }
}
@media screen and (max-width: 360px) {
  .privacy-policy-banner-text {
    font-size: 30px;
  }
}
html {
  height: 100%;
  scroll-behavior: smooth;
  width: auto !important;
  overflow-x: hidden;
  scroll-padding-top: 120px;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Urbanist", sans-serif;
}

body {
  background-color: #181820;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}/*# sourceMappingURL=style.css.map */