/* ----- COMPONENTS ----- */

.code {
	overflow-wrap: break-word;
	padding: 0 3px;
	border: 1px solid $accents-text-color;
	color: $accents-text-color;
	font-family: courier, monospace;
	background-color: $main-bg-color;
	@include border-radius-mixin(3px);
}

.important {
	overflow-wrap: break-word;
	color: $important-text-color;
}

.droptop {
	color: $accents-text-color;
}

.bold {
	font-weight: bold;
}

.underline {
	overflow-wrap: break-word;
	color: $secondary-text-color;
	text-decoration: underline;
}

.link {
	overflow-wrap: break-word;
	color: $accents-text-color;
}

.hidden {
	display: none;
}

.pointer {
	cursor: pointer;
}

.body-divider {
	width: 100%;
	height: 65px;
	padding: 30px;
}

.body-divider hr {
	border-color: $secondary-bg-color-tr;
}

/* Skip-to-main-content */
.skip-to-main-content {
	z-index: 1000;
	position: absolute;
	left: 0.5rem;
	padding: 0.5rem 0.5rem;
	border-radius: 0 0 0.5rem 0.5rem;
	color: $accents-text-color;
	background: $main-bg-color;
	transition: transform 325ms ease-in;
	transform: translateY(-120%);
}

.skip-to-main-content:focus {
	transform: translateY(0%);
}

/* scroll-to-top */
.scroll-to-top {
	display: none;
	opacity: 0.7;
	z-index: 999;
	position: fixed;
	right: 30px;
	bottom: 20px;
	padding: 15px;
	border: 2px solid $main-bg-color;
	outline: none;
	color: $main-bg-color;
	font-size: 18px;
	cursor: pointer;
	background-color: $accents-text-color;
	background-color: rgba(67, 255, 100, 0.9);
	@include border-radius-mixin(10px);
}

.scroll-to-top a {
	color: $accents-text-color;
}

@media (hover: hover) {
	.scroll-to-top:hover,
	.scroll-to-top:active {
		border-color: $accents-text-color;
		color: $accents-text-color;
		background-color: $secondary-bg-color;
	}
}

@media screen and (max-width: 480px) {
	.scroll-to-top {
		right: 10px;
		bottom: 10px;
	}
}

.latest-changenotes-container {
	color: $main-text-color;
}

.latest-changenotes-text {
	margin-bottom: 30px;
	font-size: 30px;
}

/* image modal */
.image-modal {
    display: flex;
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
}

.image-modal-content {
    position: relative;
    max-width: 80%;
    max-height: 80%;
    overflow: hidden;

	img {
		@include border-radius-mixin(10px);
		max-width: 100%;
		max-height: 100%;
	}
}

.image-modal-close {
    display: flex;
    position: absolute;
    top: 2%;
    right: 6%;
    justify-content: center;
    align-items: center;
	@include border-radius-mixin(10px);
    width: 50px;
    height: 50px;
    color: #000;
    font-size: 50px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background-color: $accents-text-color-2;
}

.image-modal-close:hover {
	-webkit-box-shadow: 0 0 10px rgb(67, 255, 102);
	background-color: $accents-text-color;
	box-shadow: 0 0 10px rgb(67, 255, 102);
	transition: 0.3s ease;
}

/* readme modal */
.readme-modal {
    display: flex;
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.readme-modal-container {
    -webkit-box-shadow: 0 0 10px rgb(67, 255, 102);
    overscroll-behavior: contain;
    position: relative;
	max-width: 90%;
	max-height: 90%;
	@include border-radius-mixin(10px);
	border: 1px solid $accents-text-color;
	overflow: auto;
	color: white;
	background-color: $main-bg-color;
	box-shadow: 0 0 10px rgb(67, 255, 102);
}

.readme-modal-container::-webkit-scrollbar {
	width: 20px;
	border-radius: 0 10px 10px 0;
	background-color: $main-bg-color;
}

.readme-modal-container::-webkit-scrollbar-thumb {
    border: 5px solid transparent;
    border-radius: 6px 9px 9px 6px;
    background: $accents-text-color-2;
	background-clip: content-box;
}

.readme-modal-container::-webkit-scrollbar-thumb:hover {
	background-color: $accents-text-color;
	transition: 0.3s ease;
}

.readme-modal-content {
	max-width: 90%;
	margin: auto;

	h1 {
		margin-bottom: 2%;

		img {
			width: 20%;
			height: auto;
			margin-bottom: 2%;
		}
	}

	h2 {
		margin-top: 3%;
		margin-bottom: 3%;
	}

	h4 {
		margin-bottom: 2%;
	}

	p {
		margin-bottom: 2%;

		a {
			text-decoration: none;

		}

		img {
			max-width: 100%;
			@include border-radius-mixin(10px);
		}
	}

	ol li,
	ul li {
		margin-bottom: 2%;
		margin-left: 4%;
	}

	a:link {
		color: $accents-text-color;
	}

	a:visited {
		color: $accents-text-color;
	}
}

.readme-modal-close {
    display: flex;
    position: absolute;
    top: 2%;
    right: 3%;
    justify-content: center;
    align-items: center;
	@include border-radius-mixin(10px);
    width: 50px;
    height: 50px;
    color: #000;
    font-size: 50px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background-color: $accents-text-color-2;
}

.readme-modal-close:hover {
	-webkit-box-shadow: 0 0 10px rgb(67, 255, 102);
	background-color: $accents-text-color;
	box-shadow: 0 0 10px rgb(67, 255, 102);
	transition: 0.3s ease;
}