/* ----- COMMUNITY THEMES PAGE ----- */

.community-themes-banner {
	color: $accents-text-color;
	font-size: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: calc(20px + 10vh);
	padding-top: 50px;
}

.community-themes-banner h1 {
	text-align: center;
}

.theme-making {
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
	text-align: center;
	color: $tertiary-text-color;
	font-size: 18px;
}

.theme-making p {
	width: 90%;
}

.themesList {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

.themesList div {
	margin-bottom: 20px;
}

.theme-card {
	box-shadow: 0 0 10px rgba(67, 255, 102, 0.3);
	-webkit-box-shadow: 0 0 10px rgba(67, 255, 102, 0.3);
	max-width: 500px;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
	font-family: arial;
	padding-top: 20px;
	padding-bottom: 5px;
	@include border-radius-mixin(25px);
	border-style: solid;
	border-color: $accents-text-color-3;
	background-color: rgba(67, 255, 100, 0.15);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.theme-card:hover {
	border-color: $accents-text-color;
	box-shadow: 0 0 10px rgb(67, 255, 102);
	-webkit-box-shadow: 0 0 10px rgb(67, 255, 102);
	background-color: rgba(67, 255, 100, 0.3);
}

.theme-card-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
}

.theme-card-name {
	text-transform: uppercase;
	font-size: 30px;
	font-weight: bold;
	margin: 10px;
	color: $accents-text-color;
	text-shadow: 2px 2px 6px rgba(17, 13, 13);
}

.theme-card-image {
	height: auto;
	width: 80%;
	margin-top: 20px;
	@include border-radius-mixin($border-radius);
	cursor: pointer;
}

.theme-card-author {
	color: $secondary-text-color;
	text-shadow: 2px 2px 6px rgba(17, 13, 13);
}

.theme-card-author-link {
	color: $secondary-text-color;
	text-shadow: 2px 2px 6px rgba(17, 13, 13);
}

.theme-card-desc {
	align-items: center;
	text-align: center;
	max-width: 90%;
	color: $main-text-color;
	padding: 10px 10px;
	line-height: 1.4;
	text-shadow: 2px 2px 6px rgba(17, 13, 13);
}

.theme-card-buttons {
	padding: 0 5px;
}

.theme-card-button {
	background-color: rgba(24, 24, 32, 0.6);
	color: $accents-text-color;
	border: none;
	padding: 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 20px 2px 0 2px;
	cursor: pointer;
	@include border-radius-mixin(10px);
}

.theme-card-button:hover {
	background-color: $main-bg-highlight-tr;
	color: $main-text-color;
	transition: 0.3s ease;
}

.theme-card-button:active {
	background-color: $main-bg-highlight-tr;
	color: $main-text-color;
	transition: 0.3s ease;
}

.theme-card-button:focus {
	outline: none;
}

@media screen and (max-width: 1580px) {

	.themesList {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (max-width: 1160px) {

	.community-themes-banner {
		padding-top: 80px;
	}

	.themesList {
		grid-template-columns: repeat(1, 1fr);
	}

	.create-a-theme-banner {
		padding-top: 80px;
	}
}

@media screen and (max-width: 480px) {
	.theme-card {
		max-width: 90%;
	}

	.community-themes-banner-text {
		font-size: 38px;
	}

	.create-a-theme-banner-text {
		font-size: 38px;
	}
}