/* ----- COMMUNITY APPS PAGE ----- */


.community-apps-banner {
	color: $accents-text-color;
	font-size: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: calc(20px + 10vh);
	padding-top: 50px;
}

.community-apps-banner h1 {
	text-align: center;
}

.app-making {
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
	text-align: center;
	color: $main-text-color;
	font-size: 20px;
}

.appsList {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

.appsList div {
	margin-bottom: 20px;
}

.app-card {
	box-shadow: 0 0 10px rgba(67, 255, 102, 0.3);
	-webkit-box-shadow: 0 0 10px rgba(67, 255, 102, 0.3);
	max-width: 500px;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
	padding-top: 20px;
	padding-bottom: 5px;
	@include blur-mixin(0.15, 5px);
	@include border-radius-mixin(25px);
	border-style: solid;
	border-color: $accents-text-color;
}

.app-card:hover {
	box-shadow: 0 0 10px rgb(67, 255, 102);
	-webkit-box-shadow: 0 0 10px rgb(67, 255, 102);
	@include blur-mixin(0.4, 5px);
}

.app-card-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
}

.app-card-name {
	text-transform: uppercase;
	font-size: 30px;
	font-weight: bold;
	margin: 10px;
	color: $accents-text-color;
}

.app-card-version {
	color: $secondary-text-color;
	opacity: 0.5;
	margin-bottom: 10px;
}

.app-card-image {
	height: auto;
	width: 80%;
	margin-top: 20px;
	opacity: 0.8;
	@include border-radius-mixin($border-radius);
}

.app-card-author {
	color: $secondary-text-color;
}

.app-card-author-link {
	color: $secondary-text-color;
}

.app-card-desc {
	align-items: center;
	text-align: center;
	max-width: 90%;
	color: $main-text-color;
	padding: 10px 10px;
	line-height: 1.4;
}

.app-card-buttons {
	padding: 0 5px;
}

.app-card-button {
	background-color: rgba(24, 24, 32, 0.6);
	color: $accents-text-color;
	border: none;
	padding: 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 20px 2px 0 2px;
	cursor: pointer;
	@include border-radius-mixin(10px);
}

.app-card-button:hover {
	background-color: $main-bg-highlight-tr;
	color: $main-text-color;
	transition: 0.3s ease;
}

.app-card-button:active {
	background-color: $main-bg-highlight-tr;
	color: $main-text-color;
	transition: 0.3s ease;
}

.app-card-button:focus {
	outline: none;
}

@media screen and (max-width: 1580px) {
	.appsList {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (max-width: 1160px) {

	.community-apps-banner {
		padding-top: 80px;
	}

	.appsList {
		grid-template-columns: repeat(1, 1fr);
	}

	.create-an-app-banner {
		padding-top: 80px;
	}
}

@media screen and (max-width: 480px) {
	.app-making p {
		width: 90%
	}

	.app-card {
		max-width: 90%;
	}

	.community-apps-banner-text {
		font-size: 38px;
	}

	.create-an-app-banner-text {
		font-size: 38px;
	}
}