/* ----- COMMUNITY APPS PAGE ----- */

.community-apps-banner {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: calc(20px + 10vh);
	padding-top: 50px;
	color: $accents-text-color;
	font-size: 50px;
}

.community-apps-banner h1 {
	text-align: center;
}

.community-apps-contents {
	left: 50%;
	width: 100%;
	max-width: 2500px;
	margin-right: auto;
	margin-left: auto;
}

.app-making {
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
	color: $main-text-color;
	font-size: 20px;
	text-align: center;
}

.sorting-options {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	align-content: center;
	
	label {
		color: $accents-text-color;
	}

	select {
		margin-left: 10px;
		padding: 6px;
		border: solid 2px;
		border-color: $accents-text-color;
		border-radius: $border-radius;
		font-size: 15px;
		background-color: $secondary-text-color;
	}
}

.buffering-icon {
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
	color: $accents-text-color;
	text-align: center;
}

.appsList {
	grid-template-columns: repeat(auto-fill, minmax(560px, 1fr));
	display: grid;
}

.appsList div {
	margin-bottom: 20px;
}

.app-card {
	-webkit-backdrop-filter: blur(5px);
	-webkit-box-shadow: 0 0 10px rgba(67, 255, 102, 0.3);
	backdrop-filter: blur(5px);
	position: relative;
	left: 50%;
	max-width: 500px;
	padding-top: 20px;
	padding-bottom: 5px;
	border-style: solid;
	@include border-radius-mixin(25px);
	border-color: $accents-text-color-3;
	text-align: center;
	background-color: rgba(67, 255, 100, 0.15);
    box-shadow: 0 0 10px rgba(67, 255, 102, 0.3);
    transform: translateX(-50%);
}

.app-card:hover {
	-webkit-box-shadow: 0 0 10px rgb(67, 255, 102);
	border-color: $accents-text-color;
	background-color: rgba(67, 255, 100, 0.3);
	box-shadow: 0 0 10px rgb(67, 255, 102);
}

.app-card-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
}

.app-card-name {
	margin: 10px;
	color: $accents-text-color;
	font-weight: bold;
	font-size: 30px;
	text-transform: uppercase;
	text-shadow: 2px 2px 6px rgba(17, 13, 13);
}

.app-card-share {
	z-index: 100;
	color: $accents-text-color;
	font-size: 20px;
	text-shadow: 2px 2px 6px rgba(17, 13, 13);
	cursor: pointer;
}

.tooltip {
	position: absolute;
	top: 15px;
	right: 15px;
}

.tooltip .tooltiptext {
	opacity: 0;
	visibility: hidden;
	z-index: 1;
	position: absolute;
	bottom: 150%;
	left: 50%;
	width: 140px;
	margin-left: -75px;
	padding: 5px;
	border-style: solid;
	border-color: $accents-text-color-3;
	border-radius: 6px;
	color: $accents-text-color;
	text-align: center;
	background-color: $main-bg-color;
	transition: opacity 0.3s;
}
  
.tooltip .tooltiptext::after {
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #43ff664d transparent transparent transparent;
	content: "";
}
  
.tooltip:hover .tooltiptext {
	opacity: 1;
	visibility: visible;
}

.app-card-version {
	opacity: 0.5;
	margin-bottom: 10px;
	color: $secondary-text-color;
	text-shadow: 2px 2px 6px rgba(17, 13, 13);
}

.app-card-image {
	opacity: 0.8;
	width: 80%;
	height: auto;
	margin-top: 20px;
	@include border-radius-mixin($border-radius);
	cursor: pointer;
}

.app-card-author {
	color: $secondary-text-color;
	text-shadow: 2px 2px 6px rgba(17, 13, 13);
}

.app-card-author-link {
	color: $secondary-text-color;
}

.app-card-desc {
	align-items: center;
	max-width: 90%;
	padding: 10px 10px;
	color: $main-text-color;
	line-height: 1.4;
	text-align: center;
	text-shadow: 2px 2px 6px rgba(17, 13, 13);
}

.app-card-downloads {
	opacity: 0.5;
	margin-bottom: 10px;
	color: $secondary-text-color;
	text-shadow: 2px 2px 6px rgba(17, 13, 13);
}

.app-card-buttons {
	padding: 0 5px;
}

.app-card-button {
	display: inline-block;
	margin: 20px 2px 0 2px;
	padding: 10px;
	border: none;
	color: $accents-text-color;
	font-size: 16px;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	background-color: rgba(24, 24, 32, 0.6);
	@include border-radius-mixin(10px);
}

.app-card-button:hover {
	color: $main-text-color;
	background-color: $main-bg-highlight-tr;
	transition: 0.3s ease;
}

.app-card-button:active {
	color: $main-text-color;
	background-color: $main-bg-highlight-tr;
	transition: 0.3s ease;
}

.app-card-button:focus {
	outline: none;
}

@media screen and (max-width: 1580px) {
	.appsList {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (max-width: 1160px) {

	.community-apps-banner {
		padding-top: 80px;
	}

	.appsList {
		grid-template-columns: repeat(1, 1fr);
	}

	.create-an-app-banner {
		padding-top: 80px;
	}
}

@media screen and (max-width: 480px) {
	.app-making p {
		width: 90%
	}

	.app-card {
		max-width: 90%;
	}

	.community-apps-banner-text {
		font-size: 38px;
	}

	.create-an-app-banner-text {
		font-size: 38px;
	}
}
