/* ----- COMPONENTS ----- */

.code {
	background-color: $main-bg-color;
	color: $accents-text-color;
	border: 1px solid $accents-text-color;
	font-family: courier, monospace;
	padding: 0 3px;
	overflow-wrap: break-word;
	@include border-radius-mixin(3px);
}

.important {
	color: $important-text-color;
	overflow-wrap: break-word;
}

.droptop {
	color: $accents-text-color;
}

.bold {
	font-weight: bold;
}

.underline {
	text-decoration: underline;
	color: $secondary-text-color;
	overflow-wrap: break-word;
}

.link {
	color: $accents-text-color;
	overflow-wrap: break-word;
}

.hidden {
	display: none;
}

.pointer {
	cursor: pointer;
}

/* Skip-to-main-content */
.skip-to-main-content {
	background: $main-bg-color;
	color: $accents-text-color;
	padding: 0.5rem 0.5rem;
	border-radius: 0 0 0.5rem 0.5rem;
	position: absolute;
	left: 0.5rem;
	transform: translateY(-120%);
	transition: transform 325ms ease-in;
	z-index: 1000;
}

.skip-to-main-content:focus {
	transform: translateY(0%);
}

/* scroll-to-top */
.scroll-to-top {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 30px;
	z-index: 999;
	border: 2px solid $main-bg-color;
	outline: none;
	background-color: $accents-text-color;
	color: $main-bg-color;
	opacity: 0.7;
	cursor: pointer;
	padding: 15px;
	font-size: 18px;
	background-color: rgba(67, 255, 100, 0.9);
	@include border-radius-mixin(10px);
}

.scroll-to-top a {
	color: $accents-text-color;
}

@media (hover: hover) {
	.scroll-to-top:hover,
	.scroll-to-top:active {
		background-color: $secondary-bg-color;
		color: $accents-text-color;
		border-color: $accents-text-color;
	}
}

@media screen and (max-width: 480px) {
	.scroll-to-top {
		bottom: 10px;
		right: 10px;
	}
}

/* image modal */
.image-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 999;
}

.image-modal-content {
    position: relative;
    max-width: 80%;
    max-height: 80%;
    overflow: hidden;

	img {
		@include border-radius-mixin(10px);
		max-width: 100%;
		max-height: 100%;
	}
}

.image-modal-close {
    position: absolute;
    top: 2%;
    right: 6%;
    font-size: 50px;
    cursor: pointer;
    background-color: $accents-text-color-2;
	@include border-radius-mixin(10px);
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    text-align: center;
    text-decoration: none;
}

.image-modal-close:hover {
	background-color: $accents-text-color;
	box-shadow: 0 0 10px rgb(67, 255, 102);
	-webkit-box-shadow: 0 0 10px rgb(67, 255, 102);
	transition: 0.3s ease;
}

/* readme modal */
.readme-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 999;
}

.readme-modal-container {
    position: relative;
    max-width: 90%;
    max-height: 90%;
	color: white;
	background-color: $main-bg-color;
	@include border-radius-mixin(10px);
	border: 1px solid $accents-text-color;
	box-shadow: 0 0 10px rgb(67, 255, 102);
	-webkit-box-shadow: 0 0 10px rgb(67, 255, 102);
	overflow: auto;
	overscroll-behavior: contain;
}

.readme-modal-container::-webkit-scrollbar {
	background-color: $main-bg-color;
	border-radius: 0 10px 10px 0;
	width: 20px;
}

.readme-modal-container::-webkit-scrollbar-thumb {
    background: $accents-text-color-2;
    background-clip: content-box;
    border: 5px solid transparent;
	border-radius: 6px 9px 9px 6px;
}

.readme-modal-container::-webkit-scrollbar-thumb:hover {
	background-color: $accents-text-color;
	transition: 0.3s ease;
}

.readme-modal-content {
	margin: auto;
	max-width: 90%;

	h1 {
		margin-bottom: 2%;

		img {
			width: 20%;
			height: auto;
			margin-bottom: 2%;
		}
	}

	h2 {
		margin-top: 3%;
		margin-bottom: 3%;
	}

	h4 {
		margin-bottom: 2%;
	}

	p {
		margin-bottom: 2%;

		a {
			text-decoration: none;

		}

		img {
			max-width: 100%;
			@include border-radius-mixin(10px);
		}
	}

	ul li {
		margin-left: 4%;
		margin-bottom: 2%;
	}

	a:link {
		color: $accents-text-color;
	}

	a:visited {
		color: $accents-text-color;
	}
}

.readme-modal-close {
    position: absolute;
    top: 2%;
    right: 3%;
    font-size: 50px;
    cursor: pointer;
    background-color: $accents-text-color-2;
	@include border-radius-mixin(10px);
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    text-align: center;
    text-decoration: none;
}

.readme-modal-close:hover {
	background-color: $accents-text-color;
	box-shadow: 0 0 10px rgb(67, 255, 102);
	-webkit-box-shadow: 0 0 10px rgb(67, 255, 102);
	transition: 0.3s ease;
}