/* ----- DIRECT DOWNLOAD PAGE ----- */

.direct-download-title {
	color: $accents-text-color;
}

.direct-download-contents {
	display: flex;
	left: 50%;
	flex-direction: column;
	align-items: center;
	align-content: center;
	width: 90%;
	max-width: 2500px;
	margin-top: 10vh;
	margin-right: auto;
	margin-left: auto;
}

.direct-download-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	color: $main-text-color;
	font-size: 30px;
	line-height: 1.4;
	text-align: center;
}

.direct-download-suppport {
	margin-top: 10px;
	color: $accents-text-color;
	line-height: 2;
}

@media screen and (max-width: 1160px) {
    .direct-download-container {
		max-width: 100%;
		min-height: auto;
	}
}
