/* ----- DOWNLOAD PAGE ----- */

.download-contents {
	display: flex;
	left: 50%;
	flex-direction: column;
	align-items: center;
	align-content: center;
	width: 90%;
	max-width: 2500px;
	margin-top: 10vh;
	margin-right: auto;
	margin-left: auto;
}

.download-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
	max-width: 90%;
	height: -webkit-max-content;
	height: -moz-max-content;
	height: max-content;
	color: $main-text-color;
	font-size: 20px;
}

.download-card {
	-webkit-backdrop-filter: blur(5px);
	-webkit-box-shadow: 0 0 10px rgba(67, 255, 102, 0.3);
	backdrop-filter: blur(5px);
	display: flex;
	flex-direction: column;
	width: 40%;
	margin: 30px;
	padding: 30px;
	@include border-radius-mixin(20px);
	border-style: solid;
	border-color: $accents-text-color-3;
	text-align: center;
    background-color: rgba(67, 255, 100, 0.15);
    box-shadow: 0 0 10px rgba(67, 255, 102, 0.3);
}

.download-card:hover {
	-webkit-box-shadow: 0 0 10px rgb(67, 255, 102);
	border-color: $accents-text-color;
	box-shadow: 0 0 10px rgb(67, 255, 102);
}

.download-card-image img {
	width: 60px;
}

.download-card-title {
	align-self: left;
	margin-top: 30px;
	margin-bottom: 10px;
	margin-left: 10%;
	font-weight: bold;
	text-align: left;
	text-shadow: 2px 2px 6px rgba(17, 13, 13, 0.8);
}

.download-card-price {
	align-self: left;
	margin-left: 10%;
	color: $secondary-text-color;
	font-size: 60px;
	text-align: left;
	text-shadow: 2px 2px 6px rgba(17, 13, 13, 0.8);
}

.download-card-price-supporter {
	align-self: left;
	margin-left: 10%;
	color: $accents-text-color;
	font-size: 60px;
	text-align: left;
	text-shadow: 2px 2px 6px rgba(17, 13, 13, 0.8);
}

.download-button {
	align-self: center;
	width: 80%;
	margin: 40px 0;
	padding: 15px 40px;
	border: none;
	color: $main-bg-color;
	font-weight: 600;
	font-size: 25px;
	line-height: 1.8;
	text-decoration: none;
	cursor: pointer;
	@include border-radius-mixin($border-radius);
	background-color: $accents-text-color-2;
}

.download-button:hover {
	-webkit-box-shadow: 0 0 10px rgb(67, 255, 102);
	background-color: $accents-text-color;
	box-shadow: 0 0 10px rgb(67, 255, 102);
	transition: 0.3s ease;
}

.download-button:active {
	-webkit-box-shadow: 0 0 10px rgb(67, 255, 102);
	background-color: $accents-text-color;
	box-shadow: 0 0 10px rgb(67, 255, 102);
	transition: 0.3s ease;
}

.download-card-infos {
	height: 30px;
	margin-bottom: 30px;
	margin-left: 10%;
	font-size: 20px;
	text-align: left;
	text-shadow: 2px 2px 6px rgba(17, 13, 13, 0.8);
}

.download-update-container {
	justify-content: center;
	margin-top: 20px;
	padding: 0px 65px;
	color: $main-text-color;
	font-size: 30px;
	text-align: center;
}

.download-alert-title {
	color: $accents-text-color;
}

.download-alert-text {
	color: $secondary-text-color;
}

.agent-alert-title {
	color: #d5273e;
}

.agent-alert-text {
	color: $secondary-text-color;
}

@media screen and (min-width: 1580px) {
	.download-card {
		font-size: 300%;
	}
	
	.download-card-infos {
		font-size: 50%;
	}
}

@media screen and (max-width: 1160px) {
    .download-container {
		max-width: 100%;
		min-height: auto;
	}

	.download-card {
		width: 40%;
	}

	.download-button {
		font-size: 20px;
	}
}

@media screen and (max-width: 720px) {


	.download-container {
		flex-direction: column;
	}

	.download-card {
		align-self: center;
		width: 60%;
	}

	.download-button {
		margin: 20px 0;
	}

	.download-cost {
		font-size: 15px;
	}
}

@media screen and (max-width: 480px) {

	.download-card {
		width: 90%;
	}
}

@media screen and (max-width: 360px) {
	.download-card {
		width: 90%;
	}

	.download-cost {
		font-size: 10px;
	}
}