/* ----- FOOTER ----- */

.footer {
	width: 100%;
	padding: 10px 0;
	margin-top: auto;
	min-height: 100%;
	z-index: 999;
	width: 98%;
	margin-bottom: 1%;
	margin-left: 1%;
	@include blur-mixin(0.8, 1px);
	@include border-radius-mixin($border-radius);
}

.footer .social {
	text-align: center;
	padding-bottom: 5px;
	color: $secondary-text-color;
}

.footer .social a {
	font-size: 16px;
	color: $secondary-text-color;
	border: 1px solid $secondary-text-color;
	width: 28px;
	height: 28px;
	line-height: 28px;
	display: inline-block;
	text-align: center;
	margin: 0 8px;
	opacity: 0.5;
	@include border-radius-mixin(50%);
}

.footer .social a:hover {
	opacity: 0.9;
}

.footer .list {
	margin-top: 0;
	padding: 0;
	list-style: none;
	font-size: 12px;
	line-height: 1.6;
	margin-bottom: 0;
	text-align: center;
	color: $secondary-text-color;
}

.footer ul li a {
	color: $secondary-text-color;
	text-decoration: none;
	opacity: 0.8;
}

.footer ul li {
	display: inline-block;
	padding: 0 5px;
}

.footer ul li a:hover {
	opacity: 1;
}

.footer .copyright {
	margin-top: 5px;
	text-align: center;
	font-size: 10px;
	color: $secondary-text-color;
}
