/* ----- HOME PAGE ----- */

.home-banner {
	width: 100%;
	height: -webkit-max-content;
	height: -moz-max-content;
	height: max-content;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: calc(20px + 15vh);
	padding: 30px 65px;
	color: $accents-text-color;
	font-size: 40px;
	flex-direction: column;
	overflow: hidden;
}

.showcase-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	position: relative;
	align-items: center;
}

.showcase-container img {
	height: 600px;
	width: 100%;
	filter: brightness(70%);
	-o-object-fit: cover;
	object-fit: cover;
	-o-object-position: right top;
	object-position: right top;
	@include border-radius-mixin($border-radius);
}

.home-banner-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	padding: 12px 24px;
	border: none;
	display: flex;
	flex-direction: row;
	width: 100%;
	@include border-radius-mixin(5px);
}

.home-banner-title {
	display: flex;
	flex-direction: column;
	width: 50%;
}

.home-banner-title h1 {
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-bottom: 20px;
	font-size: 75px;
	text-shadow: 2px 2px 6px rgba(17, 13, 13, 0.8);
}

.home-banner-title h2 {
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 80%;
	padding-left: 20%;
	color: $secondary-text-color;
	font-size: 30px;
	text-shadow: 2px 2px 6px rgba(17, 13, 13, 0.8);
}

.home-button-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	float: right;
	border: none;
	text-align: center;
	width: 45%;
	display: flex;
}

.home-download-button {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background-color: $main-bg-color;
	color: $accents-text-color;
	border: none;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	@include border-radius-mixin($border-radius);
	padding: 21px 30px;
	font-size: 30px;
	transition: all 200ms linear;
}

.home-download-button:hover {
	background-color: $main-bg-highlight-tr;
	color: $main-text-color;
	transition: 0.3s ease;
}

.home-download-button:active {
	background-color: $main-bg-highlight-tr;
	color: $main-text-color;
	transition: 0.3s ease;
}

.release-info {
	color: $secondary-text-color;
	font-size: 15px;
	opacity: 0.5;
}

.home-contents {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.body-divider {
	width: 100%;
	height: 65px;
	padding: 30px;
}

.body-divider hr {
	border-color: $secondary-bg-color-tr;
}

.home-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	align-self: center;
	font-size: 25px;
	justify-content: center;
	text-align: center;
	padding: 0px 65px;
	height: -webkit-max-content;
	height: -moz-max-content;
	height: max-content;
}

.droptop-info-1 {
	width: 100%;
	position: relative;
}

.image-block-1 {
	height: 600px;
	width: 100%;
	max-width: 90%;
	-o-object-fit: cover;
	object-fit: cover;
	-o-object-position: left top;
	object-position: left top;
	opacity: 0.6;
	@include border-radius-mixin($border-radius);
}

.text-block-c {
	width: 75%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 10px;
	border-style: solid;
	border-color: $accents-text-color;
	background-color: rgba(0, 0, 0, 0.6);
	@include border-radius-mixin($border-radius);
}

.text-block-c h1 {
	font-size: 40px;
	color: $accents-text-color;
	padding-bottom: 10px;
}

.text-block-c p {
	color: $main-text-color;
	padding-bottom: 10px;
	line-height: 1.4;
}

.droptop-info-2 {
	width: 100%;
	position: relative;
}

.image-block-2 {
	height: 600px;
	width: 100%;
	max-width: 90%;
	-o-object-fit: cover;
	object-fit: cover;
	-o-object-position: left top;
	object-position: left top;
	opacity: 0.6;
	@include border-radius-mixin($border-radius);
}

.text-block-r {
	width: 50%;
	position: absolute;
	top: 50%;
	left: 69%;
	transform: translate(-50%, -50%);
	padding: 10px;
	border-style: solid;
	border-color: $accents-text-color;
	background-color: rgba(0, 0, 0, 0.5);
	@include border-radius-mixin($border-radius);
}

.text-block-r h1 {
	font-size: 40px;
	color: $accents-text-color;
	padding-bottom: 10px;
}

.text-block-r p {
	color: $main-text-color;
	padding-bottom: 10px;
	line-height: 1.4;
}

.droptop-info-3 {
	width: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.slideshow-container-1 {
	width: 90%;
	@include border-radius-mixin($border-radius);
}

.slideshow-container-2 {
	position: relative;
	padding: 10px;
	border-style: solid;
	border-color: $accents-text-color;
	@include border-radius-mixin($border-radius);
}

.Slide {
	display: none;
}

.Slide img {
	-o-object-fit: cover;
	object-fit: cover;
	-o-object-position: left top;
	object-position: left top;
	@include border-radius-mixin($border-radius);
}

.fade {
	animation: fadein 0.75s 0s, fadeout 0.5s 3s;
	-webkit-animation: fadein 0.75s 0s, fadeout 0.75s 3s;
	-moz-animation: fadein 0.75s 0, fadeout 0.75s 3s;
	-o-animation: fadein 0.75s 0, fadeout 0.75s 3s;
	-ms-animation: fadein 0.75s 0, fadeout 0.75s 3s;
}

.fade2 {
	animation: fadein 0.2s 0s, fadeout 0.25s 3.3s;
	-webkit-animation: fadein 0.2s 0s, fadeout 0.25s 3.3s;
	-moz-animation: fadein 0.2s 0, fadeout 0.25s 3.3s;
	-o-animation: fadein 0.2s 0, fadeout 0.25s 3.3s;
	-ms-animation: fadein 0.2s 0, fadeout 0.25s 3.3s;
}

@keyframes fadein {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@-webkit-keyframes fadein {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes fadeout {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}

@-webkit-keyframes fadeout {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

.theme-number {
	color: $secondary-text-color;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 2px;
	z-index: 500;
}

.prev,
.next {
	position: relative;
	display: inline;
	width: auto;
	padding: 12px;
	color: $main-text-color;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	@include border-radius-mixin($border-radius);
}

@media (hover: hover) {
	.prev:hover,
	.prev:active,
	.next:hover,
	.next:active {
		background-color: rgba(0, 0, 0, 0.8);
	}
}

.theme-name {
	color: $secondary-text-color;
	font-size: 15px;
	padding: 8px 12px;
	position: relative;
	width: 100%;
	text-align: center;
	display: inline;
}

.text-block-s {
	width: 75%;
	position: inherit;
	margin-top: 10px;
}

.text-block-s h1 {
	font-size: 40px;
	color: $accents-text-color;
	padding-bottom: 10px;
}

.text-block-s p {
	color: $main-text-color;
	padding-bottom: 10px;
	line-height: 1.4;
}

.droptop-info-4 {
	width: 100%;
	position: relative;
}

.image-block-4 {
	height: 600px;
	width: 100%;
	max-width: 90%;
	-o-object-fit: cover;
	object-fit: cover;
	-o-object-position: right top;
	object-position: right top;
	opacity: 0.6;
	@include border-radius-mixin($border-radius);
}

.droptop-info-5 {
	width: 100%;
	position: relative;
}

.image-block-5 {
	height: 600px;
	width: 100%;
	max-width: 90%;
	-o-object-fit: cover;
	object-fit: cover;
	-o-object-position: left top;
	object-position: left top;
	opacity: 0.6;
	@include border-radius-mixin($border-radius);
}

.droptop-info-6 {
	width: 100%;
	position: relative;
}

.image-block-6 {
	height: auto;
	width: auto;
	max-width: 90%;
	-o-object-fit: cover;
	object-fit: cover;
	-o-object-position: center center;
	object-position: center center;
	opacity: 0.6;
	@include border-radius-mixin($border-radius);
}

.discord-invite {
	text-align: center;
}

.discord-invite img {
	@include border-radius-mixin($border-radius);
}

@media screen and (max-width: 1160px) {
	.home-banner {
		padding-top: 30px;
	}

    .home-banner-title h2 {
		width: 100%;
		padding-left: 0%;
		margin-bottom: 15px;
	}

	.home-banner-text {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.home-banner-title {
		width: 100%;
		margin-bottom: 20px;
	}

	.home-banner-title h1 {
		text-align: center;
		width: 100%;
		position: relative;
		top: -25px;
		margin-bottom: 0px;
	}

	.home-banner-title h2 {
		width: 100%;
		padding-left: 0%;
		margin-bottom: 15px;
	}

	.home-button-container {
		margin-top: 20px;
	}

	.home-download-button {
		position: inherit;
		top: 10px;
		transform: translateY(0);
		padding: 21px 30px;
		font-size: 30px;
	}

	.home-container {
		min-height: auto;
	}

	.droptop-info-1 {
		padding-top: 35px;
		border-style: solid;
		border-color: $accents-text-color;
		@include border-radius-mixin($border-radius);
	}

	.image-block-1 {
		height: 200px;
		opacity: 1;
	}

	.text-block-c {
		border: none;
		position: inherit;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		background-color: rgba(0, 0, 0, 0);
	}

	.droptop-info-2 {
		padding-top: 35px;
		border-style: solid;
		border-color: $accents-text-color;
		@include border-radius-mixin($border-radius);
	}

	.image-block-2 {
		height: 200px;
		opacity: 1;
	}

	.text-block-r {
		width: 75%;
		border: none;
		position: inherit;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		background-color: rgba(0, 0, 0, 0);
	}

	.droptop-info-3 {
		padding: 0 10px;
		border-style: solid;
		border-color: $accents-text-color;
		@include border-radius-mixin($border-radius);
	}

	.slideshow-container-2 {
		border: none;
	}

	.Slide img {
		-o-object-fit: cover;
		   object-fit: cover;
		-o-object-position: left top;
		   object-position: left top;
		width: auto;
		height: 100px;
	}

	.droptop-info-4 {
		padding-top: 35px;
		border-style: solid;
		border-color: $accents-text-color;
		@include border-radius-mixin($border-radius);
	}

	.image-block-4 {
		height: 200px;
		opacity: 1;
	}

	.droptop-info-5 {
		padding-top: 35px;
		border-style: solid;
		border-color: $accents-text-color;
		@include border-radius-mixin($border-radius);
	}

	.image-block-5 {
		height: 200px;
		opacity: 1;
	}

	.droptop-info-6 {
		padding-top: 35px;
		border-style: solid;
		border-color: $accents-text-color;
		@include border-radius-mixin($border-radius);
	}

	.image-block-6 {
		height: 200px;
		opacity: 1;
	}
}

@media screen and (max-width: 720px) {
    .home-banner {
		padding: 0px 30px;
	}

	.home-banner-title h1 {
		font-size: 50px;
	}

	.home-banner-title h2 {
		font-size: 25px;
	}

	.home-container {
		padding: 0px 30px;
	}

	.home-download-button {
		font-size: 25px;
	}

	.Slide img {
		-o-object-fit: cover;
		   object-fit: cover;
		-o-object-position: left top;
		   object-position: left top;
		width: auto;
		height: 100px;
	}
}

@media screen and (max-width: 480px) {
    .home-banner {
		padding: 0px 15px;
	}

    .showcase-container img {
		max-width: 100%;
	}

	.home-banner-text {
		width: 100%;
	}

	.home-banner-text h1 {
		font-size: 45px;
	}

	.home-container {
		padding: 0px 15px;
	}

	.text-block-c {
		width: 100%;
	}

	.text-block-c p {
		line-height: 1.2;
	}

	.text-block-r {
		width: 100%;
	}

	.text-block-r p {
		line-height: 1.2;
	}

	.Slide img {
		-o-object-fit: cover;
		   object-fit: cover;
		-o-object-position: left top;
		   object-position: left top;
		width: auto;
		height: 100px;
	}

	.text-block-s {
		width: 100%;
	}

	.text-block-s p {
		line-height: 1.2;
	}
}

