/* ----- UPDATE PAGE ----- */
@import 'mixins';

.update-contents {
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
	margin-top: 10vh;
	left: 50%;
	width: 90%;
	max-width: 2500px;
	margin-right: auto;
	margin-left: auto;
}

.update-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
	height: max-content;
	color: $main-text-color;
	font-size: 30px;
}

.update-button-container {
	display: flex;
	flex-direction: column;
	width: 30%;
	margin: 30px;
	padding: 30px;
	text-align: center;
	@include blur-mixin(0.3, 1px);
	@include border-radius-mixin(20px);
}

.update-card {
	-webkit-backdrop-filter: blur(5px);
	-webkit-box-shadow: 0 0 10px #43ff664d;
	backdrop-filter: blur(5px);
	display: flex;
	flex-direction: column;
	width: 30%;
	margin: 30px;
	padding: 30px;
	@include border-radius-mixin(20px);
	border-style: solid;
	border-color: $accents-text-color-3;
	text-align: center;
    background-color: #43ff6426;
    box-shadow: 0 0 10px #43ff664d;
}

.update-card:hover {
	-webkit-box-shadow: 0 0 10px #43ff66;
	border-color: $accents-text-color;
	box-shadow: 0 0 10px #43ff66;
}

.update-card-title {
	align-self: left;
	margin-top: 30px;
	margin-bottom: 10px;
	margin-left: 10%;
	font-weight: bold;
	text-align: left;
	text-shadow: 2px 2px 6px #110d0dcc;
}

.update-card-image img {
	width: 60px;
	margin-bottom: auto;
}

.update-card-infos {
	align-self: left;
	margin-bottom: 20px;
	margin-left: 10%;
	color: $secondary-text-color;
	font-size: 20px;
	text-align: left;
	text-shadow: 2px 2px 6px #110d0dcc;
}

.update-button {
	align-self: center;
	width: 80%;
	margin: 40px 0;
	padding: 15px 40px;
	border: none;
	color: $main-bg-color;
	font-weight: 600;
	font-size: 25px;
	line-height: 1.8;
	text-decoration: none;
	cursor: pointer;
	@include border-radius-mixin($border-radius);
	background-color: $accents-text-color-2;
}

.update-button:hover {
	-webkit-box-shadow: 0 0 10px #43ff66;
	background-color: $accents-text-color;
	box-shadow: 0 0 10px #43ff66;
	transition: 0.3s ease;
}

.update-button:active {
	-webkit-box-shadow: 0 0 10px #43ff66;
	background-color: $accents-text-color;
	box-shadow: 0 0 10px #43ff66;
	transition: 0.3s ease;
}

@media screen and (max-width: 1160px) {

	.update-container {
		min-height: auto;
	}

	.update-card {
		width: 40%;
	}

	.update-button {
		font-size: 20px;
	}
}

@media screen and (max-width: 720px) {

	.update-container {
		flex-direction: column;
	}

	.update-card {
		align-self: center;
		width: 60%;
	}

	.update-button {
		margin: 20px 0;
	}

	.update-cost {
		font-size: 15px;
	}
}

@media screen and (max-width: 480px) {

	.update-card {
		width: 90%;
	}
}

@media screen and (max-width: 360px) {

	.update-card {
		width: 90%;
	}

	.update-cost {
		font-size: 10px;
	}
}