$main-bg-color: #181820;
$main-bg-color-tr: #22222d9b;
$main-bg-highlight-tr: #393939b6;
$secondary-bg-color: #0d0d11;
$secondary-bg-color-tr: #00000000;
$accents-text-color: #43ff64;
$accents-text-color-2: #27af40;
$accents-text-color-3: #155b22;
$important-text-color: #fb8368;
$main-text-color: #ffffff;
$secondary-text-color: #b0b2b8;
$tertiary-text-color: #84858a;
$code-background-color: #d3f5fd;
$code-text-color: #2085ed;
$border-radius: 8px;
$background-mentioned: hsla(38, calc(1 * 95.7%), 54.1%, 0.1);
$background-mentioned-hover: hsla(38, calc(1 * 95.7%), 54.1%, 0.08);
