:root {
    --droptop-color: #000000;
    --droptop-button-color: #000000;
    --droptop-button-hover-color: #ff3737;
    --droptop-button-border-radius: 5px;
    --droptop-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.droptop-container {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 32px;
    background-color: var(--droptop-color);

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}


.droptop-left {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-left: 20px;
    margin: 2px;
    
}

.droptop-left-button {
    padding: 4px;
    margin-left: 2px;
    margin-right: 2px;
    border: none;
    color: white;
    background-color: var(--droptop-button-color);
    font-family: var(--droptop-font);
    font-size: 15px;
    border-radius: var(--droptop-button-border-radius);

}

.droptop-left-button:hover {
    background-color: var(--droptop-button-hover-color);
}

.droptop-icon {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.droptop-title {
    /* center vertically */
    
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    color: white;
    margin-right: 5px;
    font-family: var(--droptop-font);
}

.btnrow {
    /* Center contents vertically */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

    


}